<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    #1 [Remove trailing slashes]
    # Unless:
    # * it is vaild directory 
    RewriteCond %{REQUEST_FILENAME} !-d

    # * request ends on 's/' for example 'photos/' stays
    #   but 'photo/' will be redirected to 'photo'
    #   used to beautify links to resources
    RewriteCond %{REQUEST_URI} (.*[^s])/$

    # Permament redirect for such links and stop process rewirte rules
    RewriteRule ^(.*)$ %1 [R=301,L]

    #2 [Rewrite all request to app]
    # Except:
    # * valid directories
    RewriteCond %{REQUEST_FILENAME} !-d

    # * vaild files
    RewriteCond %{REQUEST_FILENAME} !-f

    # Return redirect immediately
    RewriteRule ^(.*)$ comp/app.php [L]

    # RewriteRule flags
    # https://httpd.apache.org/docs/current/rewrite/flags.html

</IfModule>